<center><img src="image.png" width=500></center>
<p>

You've recently started a new position as a Data Engineer at an energy company. Previously, analysts on other teams had to manually retrieve and clean data every quarter to understand changes in the sales and capability of different energy types. This process normally took days and was something that most analytsts dreaded. Your job is to automate this process by building a data pipeline. You'll write this data pipeline to pull data each month, helping to provide more rapid insights and free up time for your data consumers.

You will achieve this using the `pandas` library and its powerful parsing features. You'll be working with two raw files; `electricity_sales.csv` and `electricity_capability_nested.json`. 
    
Below, you'll find a data dictionary for the `electricity_sales.csv` dataset, which you'll be transforming in just a bit. Good luck!

| Field | Data Type |
| :---- | :-------: |
| period  | `str`        |
| stateid | `str` |
| stateDescription | `str` |
| sectorid | `str` |
| sectorName | `str` |
| price | `float` |
| price-units | `str` |


### Instructions

1. First, define an extract_tabular_data() function to ingest tabular data. This function will take a single parameter, file_path. If file_path ends with .csv, use the pd.read_csv() function to extract the data. If file_path ends with .parquet, use the pd.read_parquet() function to extract the data. Otherwise, raise an exception and print the message: "Warning: Invalid file extension. Please try with .csv or .parquet!".

2. Create another function with the name extract_json_data(), which takes a file_path. Use the json_normalize() function from the pandas library to flatten the nested JSON data, and return a pandas DataFrame.

3. Next, we'll need to build a function to transform the electricity sales data. To do that, we'll create a function called transform_electricity_sales_data() which takes a single parameter raw_data. raw_data should be of type pd.DataFrame. The transform_electricity_sales_data() needs to fullfil some requirements that are described below in the docstring following the function definition.

4. To load a DataFrame to a file, we'll define one more function called load(), which takes a DataFrame and a file_path. If the file_path ends with .csv, load the DataFrame to a CSV file. If instead the file_path ends with .parquet, load the DataFrame to a Parquet file. Otherwise, raise an exception that outputs a message in this format: "Warning: {filepath} is not a valid file type. Please try again!_"

In [1]:
import pandas as pd
import json

In [2]:
def extract_tabular_data(file_path: str):
    """Extract data from a tabular file_format, with pandas."""
    try:
        if file_path.endswith('.csv'):
            data = pd.read_csv(file_path)
        elif file_path.endswith(".parquet"):
            data = pd.read_parquet(file_path)
    except Exception as e:
        raise Exception("Warning: Invalid file extension. Please try with .csv or .parquet!")
    return data

In [3]:
def extract_json_data(file_path):
    """Extract and flatten data from a JSON file."""

    try:
        with open(file_path, 'r') as file:
            data = json.load(file)
            data = pd.json_normalize(data)
    except Exception as e:
        raise Exception("Warning: Invalid file extension. Please try with .json!")
    return data

In [4]:
def transform_electricity_sales_data(raw_data: pd.DataFrame):
    """
    Transform electricity sales to find the total amount of electricity sold
    in the residential and transportation sectors.
    
    To transform the electricity sales data, you'll need to do the following:
    - Drop any records with NA values in the `price` column. Do this inplace.
    - Only keep records with a `sectorName` of "residential" or "transportation".
    - Create a `month` column using the first 4 characters of the values in `period`.
    - Create a `year` column using the last 2 characters of the values in `period`.
    - Return the transformed `DataFrame`, keeping only the columns `year`, `month`, `stateid`, `price` and `price-units`.
    """

    # 1. dropping the NA values from the `price` column
    raw_data.dropna(subset=['price'], inplace=True)

    # 2. keeping records with residential or transportation sector name
    raw_data = raw_data.loc[(raw_data['sectorName'] == "residential") | (raw_data['sectorName'] == "transportation")]

    # 3. creating a new column `year` using the first 4 characters of `period`
    raw_data['year'] = raw_data['period'].str[:4]

    # 4. creating a new column `month` using the last 2 characters of `period`
    raw_data['month'] = raw_data['period'].str[-2:]

    # 5. returning the transformed DataFrame with only the required columns
    return raw_data[['year', 'month', 'stateid', 'price', 'price-units']]

In [5]:
def load(dataframe: pd.DataFrame, file_path: str):
    """Load a DataFrame to a file in either CSV or Parquet format."""

    try:
        if file_path.endswith('.csv'):
            dataframe.to_csv(file_path, index=False)
        elif file_path.endswith('.parquet'):
            dataframe.to_parquet(file_path, index=False)
    except Exception as e:
            raise ValueError(f"Warning: {file_path} is not a valid file type. Please try again!_")

In [6]:
# Ready for the moment of truth? It's time to test the functions that you wrote!
raw_electricity_capability_df = extract_json_data("electricity_capability_nested.json")
raw_electricity_sales_df = extract_tabular_data("electricity_sales.csv")

cleaned_electricity_sales_df = transform_electricity_sales_data(raw_electricity_sales_df)

load(raw_electricity_capability_df, "loaded__electricity_capability.parquet")
load(cleaned_electricity_sales_df, "loaded__electricity_sales.csv")

C:\Users\STUDSENT\AppData\Local\Temp\ipykernel_8764\2906157768.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_data['year'] = raw_data['period'].str[:4]
C:\Users\STUDSENT\AppData\Local\Temp\ipykernel_8764\2906157768.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_data['month'] = raw_data['period'].str[-2:]

In [10]:
raw_electricity_capability_df.sample(n=10)

,period,stateId,statstateDescriptione,energySource.id,energySource.description,energySource.capability,energySource.capabilityUnits
2250,2023,DC,District of Columbia,NG,Natural Gas,20.6,megawatts
1176,2023,NC,North Carolina,NG,Natural Gas,13984,megawatts
45,2023,AK,Alaska,NG,Natural Gas,1257.5,megawatts
734,2023,IN,Indiana,PETGT,Petroleum - GT,37,megawatts
1574,2023,ND,North Dakota,PETGT,Petroleum - GT,40.6,megawatts
619,2023,KY,Kentucky,NGGT,Natural Gas - GT,848,megawatts
912,2023,NJ,New Jersey,SOL,Solar,87.9,megawatts
220,2023,FL,Florida,NGCC,Natural Gas - CC,35743,megawatts
277,2023,GA,Georgia,OBM,Other Biomass,55.8,megawatts
1486,2023,ND,North Dakota,OBM,Other Biomass,9.8,megawatts

In [17]:
raw_electricity_sales_df.columns

Index(['period', 'stateid', 'stateDescription', 'sectorid', 'sectorName',
       'price', 'price-units'],
      dtype='object')

In [14]:
cleaned_electricity_sales_df.head()

,period,stateid,stateDescription,sectorid,sectorName,price,price-units
0,2023-12,HI,Hawaii,TRA,transportation,0.00,cents per kilowatt-hour
1,2023-12,ID,Idaho,ALL,all sectors,9.46,cents per kilowatt-hour
2,2023-12,ID,Idaho,COM,commercial,8.88,cents per kilowatt-hour
3,2023-12,ID,Idaho,IND,industrial,6.21,cents per kilowatt-hour
5,2023-12,ID,Idaho,RES,residential,11.53,cents per kilowatt-hour

In [15]:
raw_electricity_sales_df.isna().sum()

period              0
stateid             0
stateDescription    0
sectorid            0
sectorName          0
price               0
price-units         0
dtype: int64